-pos(type, args)
	i = 0
	position unquote(type)
	{args[i]} args[i+1] is a 'unit'? args[i += 1] : 0
	{args[i += 1]} args[i+1] is a 'unit'? args[i+1] : 0
-pos-absolute()
	-pos('absolute', arguments)
-pos-fixed()
	-pos('fixed', arguments)
-pos-relative()
	-pos('relative', arguments)